body {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    background-color: #c6c6c6;
}

body,
p {
    margin: 0;
}

header,
main,
.post-img {
    width: 375px;
}

header,
main {
    margin: 0 auto;
    background-color: #fff;
}

header {
    border-bottom: 1px solid #c6c6c6;
}

#logo {
    width: 127px;
}

.user-avatar {
    width: 34px;
    border-radius: 50%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.user-container {
    padding: 10px;
    display: flex;
    align-items: center;
}

.user-info {
    margin-left: 10px;
}

.name,
.accent-text {
    font-size: 0.8125rem;
    font-weight: bold;
}

.location {
    font-size: 0.75rem;
}

.post-img {
    margin-bottom: 16px;
}

.icons-container {
    padding: 0 10px;
    display: flex;
}

.icon {
    width: 24px;
    margin-right: 15px;
}

.content {
    padding: 5px 10px 16px 10px;
}
